.App {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding-top: 30px;
  justify-content: flex-start;
  align-items: center;
  height: 500px;
  background-color: whitesmoke;
  background: url("../public/images/todolist-background.jpg");
  background-repeat: repeat;
  background-size: contain;
  margin-top: 6rem;
}

body {
  background-color: #222222;
}
